<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url-shortner login</title>
</head>
<body>

    <h1>login</h1>
    <form action="/user/login" method="post">
   

        <label>password</label>
        <input type="text" required name="password"/>

        <label>email</label>
        <input type="text" required name="email"/> 

        <button type="submit">Login</button>

        </form>
    
</body>
</html>