<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url-Shortner Signup Page</title>
</head>
<body>

    <h1>signup</h1>
    <form action="/user" method="post">
        <label>name</label>
        <input type="text" required name="name"/>

        <label>password</label>
        <input type="text" required name="password"/>

        <label>email</label>
        <input type="text" required name="email"/>

        
      
<button type="submit">signup</button>
    </form>
    
</body>
</html>